@model List<Entidades.TareaDto>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <h1>Tareas</h1>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 pt-5">
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.Titulo</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Id: @item.Id - Finalizada: @if(item.Finalizada){<p>Finalizada</p>}else{<p>Pendiente</p>}</h6>
                    <p class="card-text">
                        @item.Descripcion
                    </p>
                    @Html.ActionLink("Editar","Editar", "Tarea", new { id = item.Id})
                    @Html.ActionLink("Finalizar","Finalizar", "Tarea", new { id = item.Id})
                </div>
            </div>
            </div>
        }
    </div>
</div>
